**<h1 style="text-align: center;">üïµüèª EDA on Vehicle Sales Data üèéÔ∏è</h1>**

## üëãüèº ***Introduction***

<p style="text-align: justify;">My client company is JJ motors.
They are one of the leading car resellers in US.They have provided me a dataset of vehicle sales data. They want to find some business insigts from this dataset so that they can improve they sales in the market.</p>


## üßø ***Objective***
 <p style="text-align: justify;">I will be conducting  Exploratory Data Analysis (EDA) on Vehicle Sales Data dataset and try to get an insights of the dataset. I have some business questions in mind which will help the company in improving their sales. Let's see how we can find the answers to these questions. .I will be loading the dataset and then try to find and any relationships, treands and patterns between among the various features of the dataset. Also, I will be trying to find answers to the below set of questions.</p>

**About the data**  
This [**dataset**](https://www.kaggle.com/datasets/syedanwarafridi/vehicle-sales-data/code) contains 16 columns of sales data

## ***Table of Content***

##### ‚¨á [**Importing Libraries**](#library)
##### üìä [**Importing Dataset**](#dataset)
##### üí≠ [**My taughts on the dataset**](#thoughts)
##### üßπ [**Data Cleaning**](#cleaning)
##### ‚ùì [**Business Questions**](#questions)
##### üí° **Conclusion**

## ***Let's go....***

<a id='library'></a>
## ‚¨á <span style="color: #20479b; font-weight: bold;">Importing Libraries</span>

I start by importing the necessary libraries for my Exploratory Data Analysis tasks in Python.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline
from dateutil import parser
import datetime

<a id='dataset'></a>  

## üìä <span style="color: #20479b; font-weight: bold;">Importing Dataset</span>

In [ ]:
df = pd.read_csv('/Users/jasonjoelpinto/Documents/GitHub/python-datascience-projects/009. eda_on_ecommerce_dataset/dataset/car_prices.csv')

print("No. of rows.   :", df.shape[0])
print("No. of cols.   :", df.shape[1])  
print("="*30)


df.head(5)

<a id='exploration'></a>
## üó∫Ô∏è <span style="color: #20479b; font-weight: bold;">Exploring the dataset</span>

After loading the dataset into the DataFrame `df`, I will check the `df` shape using the `.shape` attribute.

In [ ]:
df.shape

As you can see above there are 5558837 rows and 16 columns

I will use `.info` method to get a shortsummary of the DataFrame. It will include the number of non-null values, Data Types, and Memory Usage etc.

In [ ]:
df.info()

I can see that the 
- count in the **Non-Null** column is less than the total columns i.e. 558837
- that means that there are many NULL values in the dataset. 
- which we will take care in the data cleaning part.

I will use `dtypes` attribute to get the datatypes of the columns.  
I will also get the same details in `.info()` attribute above. But I like to view it seperately we get a getter understanding.

In [ ]:
df.dtypes

I will use `df.describe()` 
- to generate a descriptive statistics of numerical columns of the DataFrame. 
- It will provide us various functions such as mean, count, Standard Deviation, Min, Max and percentiles.
- I have used **Transpose** here as I want the columns of my DataFrame as the index.
- This especially helps when I have many numrical columns.

In [ ]:
df.describe().transpose()

### <span style="color: #c81717; font-weight: bold;">HAS TO BE RE-WRITTEN</span>
1. **Year**:
   - The dataset spans from the year 1982 to 2015, with the majority of vehicles being sold between 2007 and 2013.
   - The average year of sale is approximately 2010, indicating that the dataset predominantly consists of relatively recent vehicle sales.

2. **Condition**:
   - The condition values range from 1 to 49, with higher values representing better conditions.
   - The average condition value is around 30, suggesting that the vehicles in the dataset generally have moderate to good conditions.

3. **Odometer**:
   - Odometer readings range from 1 to 999,999 miles.
   - The average odometer reading is approximately 68,320 miles, indicating that the vehicles vary widely in terms of mileage.
   - The median (50th percentile) odometer reading is 52,254 miles, suggesting that half of the vehicles have odometer readings below this value.

4. **MMR (Market Median Retail)**:
   - MMR values represent the median retail price of vehicles in the market.
   - The MMR values range from 25 to 182,000, with an average MMR of approximately 13,769.
   - The median MMR is 12,250, indicating that half of the vehicles in the dataset have market median retail prices below this value.

5. **Selling Price**:
   - Selling prices of vehicles in the dataset range from 1 to 230,000.
   - The average selling price is approximately 13,611, suggesting that the dataset contains a mix of vehicles across different price ranges.
   - The median selling price is 12,100, indicating that half of the vehicles were sold at prices below this value.

Overall, this summary provides valuable insights into the distribution and characteristics of the vehicle sales dataset, including information about the years of sale, vehicle conditions, mileage, market median retail prices, and selling prices.

In [ ]:
print("Number of rows.   :", df.shape[0])
print("="*30)

df.isnull().sum()

Now I am going to check how much percentage of the columns are null. If they are negligible percentage then we can just drop the columns. Otherwise I will fill the na values with the meaninfull values.

In [ ]:
null_percentage = {}
for column in df:
    null_percentage[column] = round(( ( df[column].isnull().sum() ) / len(df)) * 100,2)
np_df = pd.DataFrame( list( null_percentage.items() ),  columns=[  'column_name'  , 'null_percentage' ])
np_df

As the null percentage is negligible when compared to the size of the dataset, we can drop these null columns. The max null percentage is for the column **transmission** i.e. **11.69**.

In [ ]:
df["state"].unique()

I can see a lot of unwanted error data here. We have to delete these error data.

In [ ]:
df["transmission"].unique()

In transmission column I can see that, **nan**, **sedan** and **Sedan** are not data errors, hence we will delete them as well.

In [ ]:
df['make'].unique()

I see alot of redundent entries here, because data is case sentitive. Hence we can make all small.

In [ ]:
sorted(df['make'].astype(str).unique())

<a id='thoughts'></a>
## üí≠ <span style="color: #20479b; font-weight: bold;">My thoughts on the dataset</span>

As per my initial Data Exploration,
- I can see that the dataset is huge with 558837 columns.
- This dataset consits of alot of null values which can be deleted considering the size of the data.
- VIN number is unique for each vahicle, hence it is not useful for me, hence I will drop the column.
- I also noticed that the datatype of `saledate` column is object, and it also can time and timezone which we may not need.
- `state` and `transmission` column has error data, which I can delete.



I will be following the below steps to üßπ clean my data for further analysis.
1. ‚ùé Drop all the rows containing `null` values.
2. ‚ùé Drop columns `VIN`.
3. ü™õ Convert the saledate column to Datetime format using `dateutil`.
4. ü™õ Make column `make` all smalll.
5. ü™õ Replace the make error in make with the standard make name.
5. ‚ùé Drop the rows with error data from `state` and `transmission` columns.
6. ‚úÖ Re-arrange the columns for better view.

<a id='cleaning' ></a>
## üßπ <span style="color: #20479b; font-weight: bold;">Data Cleaning</span>

You can see that the null_percentage for each column is negligible. The max is for Transmission is 11.69%, which is negligible when we consider the datasize, i.e. 558837 of data. Hence I will be droping the rows with null values.

In [ ]:
df.dropna(inplace=True)

In [ ]:
print("Number of rows.   :", df.shape[0])
print("="*30)

df.isnull().sum()

VIN number is not usefull for my analysis, hence I will be droping it.

In [ ]:
df.drop("vin",axis=1,inplace=True)
df.head(5)

And you can also see that sale date is different format. So I am going to use `dateutil.parser` module to clean it and convert it to datetime format. This module will automatically detect varies formats and convert it for us

In [ ]:
df['saledatetime']  =    pd.to_datetime(df['saledate' ].apply( parser.parse),utc=True)
df.head(5)

Now we can 
1. drop the older  `saledate` column, 
2. create a new `saledate` column which will have only the saledate and remove the time as it is not important for us.
3. drop the `saledatetime`.

In [ ]:
df.drop("saledate",axis=1,inplace=True)
df["saledate"] = pd.to_datetime(df["saledatetime"].dt.date)
df.drop("saledatetime",axis=1,inplace=True)
df.head(5)

Next I will change the `make` column to all small.

In [ ]:
df['make'] = df['make'].str.lower()

Here I will replace the make names with standard one's

In [ ]:
df['make'].replace({'chev truck':'chevrolet','dodge tk':'dodge','ford tk':'ford','ford truck':'ford','gmc truck':'gmc','hyundai tk':'hyundai','land rover':'landrover',
                    'mazda tk':'mazda','mercedes-b':'mercedes','mercedes-benz':'mercedes','vw':'volkswagen'},inplace=True)
sorted(df['make'].astype(str).unique())

In [ ]:
df =  df[ ~df[ 'state'].str.startswith('3vwd'  )]
df.head()

I also want to rearrange the columns in the dataframe for better visiblity

In [ ]:
rearranged_columns = ['year','make','model','trim','body','transmission','state','condition','color','interior','saledate','seller','sellingprice','mmr','odometer']
df = df[rearranged_columns]
df.head(5)

In [ ]:
df.dtypes

<a id='questions'></a>  


## ‚ùì <span style="color: #20479b; font-weight: bold;">Business Questions</span>

Questions
1. What is sales propotion of car makers in each state?



1. What is the trend in vehicle sales over the years based on the "year" column?
2. Which vehicle make dominates the sales in the dataset?
3. Are there any particular models that consistently perform better in terms of sales?
4. How does the distribution of vehicle trims affect their selling prices?
5. What body type is most commonly sold in the dataset?
6. Is there any correlation between transmission type and selling price?
7. Does the VIN (Vehicle Identification Number) have any influence on sales performance?
8. Which states contribute the most to overall vehicle sales?
9. How does the condition of the vehicle impact its selling price?
10. Is there a relationship between odometer reading and selling price?
11. Are certain colors more popular among buyers, and do they affect selling prices?
12. Does the interior type influence the selling price of a vehicle?
13. What type of sellers (e.g., dealerships, private sellers) are more successful in selling vehicles?
14. Is there a correlation between the Manheim Market Report (MMR) value and the actual selling price of vehicles?
15. How does the sale date (month, day of the week) affect the selling price and volume of vehicle sales?

####     ‚ùì <span style="font-weight: bold;">1Ô∏è‚É£ What is the sales propotion of car makers in New York(ny) and Texas(tx) for the last 3 years from the data?</span>

This question is very important

In [ ]:
df['make'].unique()

In [ ]:
df['state'].unique()

In [ ]:
df_q1 = df.loc[(df['state'].isin(['ny', 'tx'])) & (df['year'] >= (df['year'].max()-3))]
data = df_q1.groupby ( ['state' , 'make']).size().reset_index( name ='Sales in Units' )
data = data.sort_values(by='make').reset_index(drop=True)
data

In [ ]:
fig=px.bar(data, y='make', x='Sales in Units', color='state', orientation='h', title='Sales in Units by Make and State',
           labels={'Sales in Units': 'Sales in Units', 'make': 'MAKE', 'state': 'STATE'},barmode='group')
fig.update_layout(legend_title_text='State', width=1300, height=1200)
fig.show()

In [ ]:
df_q1.loc[(df_q1['state']=='ny') & (df_q1['make']=='acura')]

In [ ]:
df[['make','state']]

In [ ]:
df.shape